@import (reference) '~less/variables.less';

.skills {
	background-color: @base02;

	.title {
		color: #fff;
		padding-top: 0.125em;
		margin: 0;
		font-family: 'Bebas Neue', cursive;
		font-size: 7.5em;
		font-weight: 400;
		text-align: center;
	}

	.container {
		white-space: nowrap;
		overflow-x: auto;

		.block {
			display: inline-block;
			width: 30em;
			margin: 0.5em;
			margin-bottom: 1em;
			background-color: @base03;
			border-radius: 4px;
			vertical-align: top;

			&:first-child {
				margin-left: 1em;
			}

			&:last-child {
				margin-right: 1em;
			}

			.header {
				color: #fff;
				padding: 0.625em 1em;
				margin: 0;
				font-size: 2em;
				font-weight: 400;
			}

			.subheader {
				color: @base0;
				padding: 0.375em 0.75em;
				margin: 0;
				background-color: darken(@base02, 6.25%);
				font-size: 1.375em;
				font-weight: 300;
			}

			.items {
				padding: 0.625em 0.75em;
				padding-bottom: 0;
				white-space: initial;

				.item {
					display: inline-block;
					color: #fff;
					padding: 0.375em 0.5em;
					margin-right: 0.625em;
					margin-bottom: 0.625em;
					background-color: lighten(@base02, 5%);
					border-radius: 4px;
					font-weight: 300;

					&.highlight {
						background-color: @blue;
					}
				}
			}

			.list {
				white-space: initial;

				.listItem {
					color: #fff;
					padding: 0.625em 0.5em;
					margin: 0 0.75em;
					border-bottom: 1px solid lighten(@base02, 5%);
					line-height: 1.375em;
					font-weight: 300;

					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}
