html {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
}
body {
  margin: 0;
}

._1R-qcxB_FztDqxuJ9H8itZ {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 8px;
          perspective: 8px;
  -webkit-perspective-origin: 0 0;
          perspective-origin: 0 0;
}

.GxTkgOapViwITncaoZ527 {
  display: inline-block;
  position: fixed;
  top: 0.75em;
  right: 1em;
  color: #fff;
  padding: 0.625em 0.875em;
  background-color: #268bd2;
  text-decoration: none;
  z-index: 100;
}
.GxTkgOapViwITncaoZ527:hover {
  background-color: #2aa198;
}

._36pB7-ig6Zmx7_bc0JZzVs {
  height: 100vh;
  min-height: 500px;
  -webkit-transform: translate3d(0, 0, -3px);
          transform: translate3d(0, 0, -3px);
}
._36pB7-ig6Zmx7_bc0JZzVs ._2iZaLfNTMMnEXKcP9sajON {
  position: relative;
  width: 137.5%;
  height: 137.5%;
  background-image: url(./7512576cf37da0230bdca4c7d2a19ae5.jpg);
  background-position: 60% center;
  background-size: cover;
}
._36pB7-ig6Zmx7_bc0JZzVs ._2iZaLfNTMMnEXKcP9sajON .uxgZwqoBvkKIdfF5VMD5u {
  position: absolute;
  bottom: 0.75em;
  left: 0.75em;
  color: #fff;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 12.5em;
  font-weight: 400;
  line-height: 0.875em;
}
@media (max-width: 800px) {
  ._36pB7-ig6Zmx7_bc0JZzVs ._2iZaLfNTMMnEXKcP9sajON .uxgZwqoBvkKIdfF5VMD5u {
    font-size: 10em;
  }
}
@media (max-width: 500px) {
  ._36pB7-ig6Zmx7_bc0JZzVs ._2iZaLfNTMMnEXKcP9sajON .uxgZwqoBvkKIdfF5VMD5u {
    left: 0.375em;
  }
}
@media (max-width: 350px) {
  ._36pB7-ig6Zmx7_bc0JZzVs ._2iZaLfNTMMnEXKcP9sajON .uxgZwqoBvkKIdfF5VMD5u {
    font-size: 8.75em;
  }
}
@media (max-width: 300px) {
  ._36pB7-ig6Zmx7_bc0JZzVs ._2iZaLfNTMMnEXKcP9sajON .uxgZwqoBvkKIdfF5VMD5u {
    font-size: 7.5em;
  }
}
@media (max-height: 500px) {
  ._36pB7-ig6Zmx7_bc0JZzVs ._2iZaLfNTMMnEXKcP9sajON .uxgZwqoBvkKIdfF5VMD5u {
    top: calc(100vh - 1em);
  }
}

._1ckCelabxb2QFkysDksHG9 {
  position: relative;
  background-color: #002b36;
  padding-bottom: 4em;
  z-index: 2;
}
._1ckCelabxb2QFkysDksHG9 ._2amdQZCLLdJ3gegKuLGbYn {
  color: #93a1a1;
  padding: 0.75em 1.5em;
  background-color: #073642;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}
._1ckCelabxb2QFkysDksHG9 ._2amdQZCLLdJ3gegKuLGbYn ._3dgvShrO6cTeatEgOcwSwn {
  color: #586e75;
}
@media (max-width: 900px) {
  ._1ckCelabxb2QFkysDksHG9 ._2amdQZCLLdJ3gegKuLGbYn {
    font-size: 1.25em;
  }
}
@media (max-width: 700px) {
  ._1ckCelabxb2QFkysDksHG9 ._2amdQZCLLdJ3gegKuLGbYn {
    font-size: 1.125em;
  }
}
._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  width: 60em;
  max-width: calc(100% - 3em);
  margin: 0 auto;
  margin-top: 2em;
  background-color: #fff;
  border-radius: 4px;
}
@media (max-width: 600px) {
  ._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}
@media (max-width: 350px) {
  ._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW {
    max-width: calc(100% - 1.5em);
  }
}
._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW ._2CHXHogqq6K5gudZQW-Ikx {
  width: 20em;
  height: 22.5em;
  margin: 1.5em;
  background-position: center;
  background-image: url(./050da5a784613969ea3c8c2340313b41.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 900px) {
  ._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW ._2CHXHogqq6K5gudZQW-Ikx {
    font-size: 0.875em;
  }
}
@media (max-width: 700px) {
  ._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW ._2CHXHogqq6K5gudZQW-Ikx {
    font-size: 0.75em;
    margin: 1em;
    margin-right: 0.5em;
  }
}
@media (max-width: 600px) {
  ._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW ._2CHXHogqq6K5gudZQW-Ikx {
    margin: 1em auto;
    margin-bottom: 1.5em;
  }
}
@media (max-width: 350px) {
  ._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW ._2CHXHogqq6K5gudZQW-Ikx {
    font-size: 0.625em;
  }
}
._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW ._3cDBHIAwnfmFoG12WtZZn2 {
  -webkit-box-flex: 1;
          flex: 1;
  color: #333;
  margin: 1.5em;
  margin-right: 2.25em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.375em;
  font-weight: 300;
  line-height: 1.5em;
}
._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW ._3cDBHIAwnfmFoG12WtZZn2 ._2qh5IRtVYBMfa8rT1vyQTv {
  margin-bottom: 0.75em;
}
@media (max-width: 775px) {
  ._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW ._3cDBHIAwnfmFoG12WtZZn2 {
    font-size: 1.25em;
  }
}
@media (max-width: 600px) {
  ._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW ._3cDBHIAwnfmFoG12WtZZn2 {
    -webkit-box-flex: unset;
            flex: unset;
    margin-right: 1.5em;
    margin-top: 0;
  }
}
@media (max-width: 350px) {
  ._1ckCelabxb2QFkysDksHG9 ._sk4Dc88lI88nYeatd7vW ._3cDBHIAwnfmFoG12WtZZn2 {
    margin: 1em;
    margin-top: 0;
  }
}

._2oKNzpD42vFnsPPCBjyeqJ {
  position: relative;
  background-color: #073642;
  border-bottom: 4em solid #002b36;
  z-index: 2;
}
._2oKNzpD42vFnsPPCBjyeqJ ._39v7Vz2GoElPSiRNQWSinW {
  color: #fff;
  padding-top: 0.3em;
  padding-bottom: 0.125em;
  margin: 0 0.25em;
  font-family: 'Bebas Neue', cursive;
  font-size: 7.5em;
  font-weight: 400;
  line-height: 0.875em;
  text-align: center;
}
@media (max-width: 500px) {
  ._2oKNzpD42vFnsPPCBjyeqJ ._39v7Vz2GoElPSiRNQWSinW {
    font-size: 6.25em;
  }
}
@media (max-width: 350px) {
  ._2oKNzpD42vFnsPPCBjyeqJ ._39v7Vz2GoElPSiRNQWSinW {
    font-size: 5em;
  }
}
._2oKNzpD42vFnsPPCBjyeqJ ._2qev4c3H2g-LqtO-l98siJ {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 0 0.75em;
  margin-bottom: 0.75em;
}
._2oKNzpD42vFnsPPCBjyeqJ ._2qev4c3H2g-LqtO-l98siJ ._2HEBQluGW6-OTYZ3KDobgZ {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.625em;
  background-color: #094959;
  border-radius: 50%;
}
._2oKNzpD42vFnsPPCBjyeqJ ._2qev4c3H2g-LqtO-l98siJ ._2HEBQluGW6-OTYZ3KDobgZ.KrnkNAnwGiuMhN5hcR-3D {
  background-color: #268bd2;
}
._2oKNzpD42vFnsPPCBjyeqJ ._2qev4c3H2g-LqtO-l98siJ .KkxsDbExHQs0WepgtNkq6 {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  white-space: nowrap;
}
._2oKNzpD42vFnsPPCBjyeqJ ._2qev4c3H2g-LqtO-l98siJ ._2mA7CQLcM_DfzpJ23Aqvgs {
  width: 1.5em;
}
@media (max-width: 425px) {
  ._2oKNzpD42vFnsPPCBjyeqJ ._2qev4c3H2g-LqtO-l98siJ ._2mA7CQLcM_DfzpJ23Aqvgs {
    display: none;
  }
}
@media (max-width: 425px) {
  ._2oKNzpD42vFnsPPCBjyeqJ ._2qev4c3H2g-LqtO-l98siJ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 17.5em;
    margin: 0 auto;
    margin-bottom: 0.75em;
    height: 3.25em;
  }
}
@media (max-width: 300px) {
  ._2oKNzpD42vFnsPPCBjyeqJ ._2qev4c3H2g-LqtO-l98siJ {
    width: 15em;
  }
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 {
  font-size: 0.875em;
  white-space: nowrap;
  overflow-x: scroll;
}
@media (max-width: 525px) {
  ._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 {
    font-size: 0.75em;
  }
}
@media (max-width: 425px) {
  ._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 {
    font-size: 0.6875em;
  }
}
@media (max-width: 350px) {
  ._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 {
    font-size: 0.625em;
  }
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP {
  display: inline-block;
  width: 30em;
  margin: 0.75em;
  margin-bottom: 2em;
  background-color: #002b36;
  border-radius: 4px;
  vertical-align: top;
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP:first-child {
  margin-left: 1.5em;
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP:last-child {
  margin-right: 1.5em;
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP .DL5OGFcm0nFb6GahU6hlA {
  color: #fff;
  padding: 0.625em 1em;
  padding-bottom: 0.5em;
  margin: 0;
  font-size: 2em;
  font-weight: 400;
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP ._2305XCOTtKKcg4Xoa3Rv8o {
  color: #839496;
  padding: 0.375em 0.75em;
  margin: 0;
  background-color: #041e25;
  font-size: 1.375em;
  font-weight: 300;
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP ._5WsaiO_T0G2TxqcEF9Z6D {
  padding: 0.625em 0.75em;
  padding-bottom: 0;
  white-space: initial;
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP ._5WsaiO_T0G2TxqcEF9Z6D ._3Irn9o-IJyo1evljF4hbW9 {
  display: inline-block;
  color: #fff;
  padding: 0.375em 0.5em;
  margin-right: 0.625em;
  margin-bottom: 0.625em;
  background-color: #094959;
  border-radius: 4px;
  font-weight: 300;
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP ._5WsaiO_T0G2TxqcEF9Z6D ._3Irn9o-IJyo1evljF4hbW9.KrnkNAnwGiuMhN5hcR-3D {
  background-color: #268bd2;
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP ._29tS2CANWtsyvnLMy7UxbR {
  white-space: initial;
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP ._29tS2CANWtsyvnLMy7UxbR ._3Z8Xcd-BDQtovwC3O3YHlB {
  color: #fff;
  padding: 0.625em 0.5em;
  margin: 0 0.75em;
  border-bottom: 2px solid #083f4e;
  line-height: 1.375em;
  font-weight: 300;
}
._2oKNzpD42vFnsPPCBjyeqJ .UHgW49Mi0GiOzKkRwSGq7 ._2dmj8Zah4UJi5trD1eSHNP ._29tS2CANWtsyvnLMy7UxbR ._3Z8Xcd-BDQtovwC3O3YHlB:last-child {
  border-bottom: none;
}

._1z451jGEtKGEbJ3UYcWumX {
  position: relative;
  background-color: #fff;
  padding-bottom: 4em;
  z-index: 2;
}
._1z451jGEtKGEbJ3UYcWumX ._1jDlXVYPjtEaQnPZLA0lb1 {
  color: #268bd2;
  text-decoration: underline;
}
._1z451jGEtKGEbJ3UYcWumX ._294sXPnRx6Wp1KSX1bJrxn {
  color: #073642;
  padding-top: 0.3em;
  padding-bottom: 0.125em;
  margin: 0 0.25em;
  font-family: 'Bebas Neue', cursive;
  font-size: 7.5em;
  font-weight: 400;
  line-height: 0.875em;
  text-align: center;
}
@media (max-width: 500px) {
  ._1z451jGEtKGEbJ3UYcWumX ._294sXPnRx6Wp1KSX1bJrxn {
    font-size: 6.25em;
  }
}
@media (max-width: 375px) {
  ._1z451jGEtKGEbJ3UYcWumX ._294sXPnRx6Wp1KSX1bJrxn {
    font-size: 5em;
  }
}
._1z451jGEtKGEbJ3UYcWumX ._1IYM9mzS-JKFtrWOBTodUp {
  color: #586e75;
  padding: 0.75em 1.5em;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}
._1z451jGEtKGEbJ3UYcWumX ._1IYM9mzS-JKFtrWOBTodUp ._3LHMVMjxtVSakIbqoGSS-4 {
  color: #93a1a1;
}
@media (max-width: 900px) {
  ._1z451jGEtKGEbJ3UYcWumX ._1IYM9mzS-JKFtrWOBTodUp {
    font-size: 1.25em;
  }
}
@media (max-width: 700px) {
  ._1z451jGEtKGEbJ3UYcWumX ._1IYM9mzS-JKFtrWOBTodUp {
    font-size: 1.125em;
  }
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB {
  width: 60em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
  margin-top: 1em;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._1k233MwFr4w15MQRhhLuDO {
  color: #fff;
  margin: 0;
  margin-top: 3em;
  margin-bottom: 0.5em;
  font-size: 1.25em;
  font-weight: 300;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._1k233MwFr4w15MQRhhLuDO ._3BL69MRNK9shGPLmHhUId {
  padding: 0.125em 0.25em;
  background-color: #268bd2;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._1k233MwFr4w15MQRhhLuDO::first-letter {
  font-size: 1.25em;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._3u9eTonNs_At22HsaV1ho {
  margin-bottom: 2em;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._3u9eTonNs_At22HsaV1ho ._2BQV3twHq33J_uZEfBaFej {
  color: #073642;
  margin: 0;
  margin-top: 0.25em;
  margin-bottom: 0.125em;
  font-size: 1.75em;
  font-weight: 400;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._3u9eTonNs_At22HsaV1ho ._2BQV3twHq33J_uZEfBaFej ._3X8NFb5HcZa1m_LDSePlsd {
  font-size: 0.75em;
  font-weight: 300;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._3u9eTonNs_At22HsaV1ho ._3dBULd_nH6kYpmHHd9vFXX {
  color: #586e75;
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 1.25em;
  font-weight: 300;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._3u9eTonNs_At22HsaV1ho .Z9UpANyu1hshC8ImZw3D- {
  color: #222;
  margin: 0;
  margin-bottom: 0.75em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125em;
  font-weight: 300;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._3u9eTonNs_At22HsaV1ho ._1WlIrUaBolGkVViz4LcMIj {
  color: #073642;
  margin: 0.25em 0;
  font-size: 1.125em;
  font-weight: 300;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._3u9eTonNs_At22HsaV1ho ._3r6KoLdwD97TTp6_ZbgJZ4 {
  margin-top: 0.5em;
  margin-bottom: 1.25em;
}
._1z451jGEtKGEbJ3UYcWumX .sa4_1rLl7m7IBdWf2Y9kB ._3u9eTonNs_At22HsaV1ho ._3r6KoLdwD97TTp6_ZbgJZ4 .bw78iLAJGZPgbB8sZD4Bb {
  color: #222;
  margin-bottom: 0.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125em;
  font-weight: 300;
}

